.report p {
    font-size: 1.75rem;
    font-weight: 700;
    color: #3448e0;
  }
  
 .report h1 {
    font-size: 2.5rem;
  }

.report h6
{
    color: #050447;
    font-size: 1.5rem;
}
.report:before {
    content: '';
    background: url("https://c4.wallpaperflare.com/wallpaper/197/287/635/spring-sky-wallpaper-preview.jpg") no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
.report body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .report {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff10;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  .report .search {
    display: flex;
    margin-bottom: 20px;
  }
  
  .report .search input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid rgba(9, 0, 0, 0.8);
    background: rgba(255,255,255, 0.1);
    color: #0a0808;
  }
  
  .report ::placeholder {
    color: #080000;
  }

  .report .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent; 
  }

  .report .location {
    text-align: center;
    margin-bottom: 20px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
  }
  
  
 .report .one,
  .two,
  .three {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .report .one p,
  .two p,
  .three p {
    margin-bottom: 5px;
  }
 
